.body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background-color:blue ;
 display: flex;
 flex-direction: column;

 background-image: url("");
 background-repeat: no-repeat;
 
  background-position-y: center;
  background-position-X: center;
}
.header{
	width: 900px;
	height: 100px;
	align-items: center;
}

.navbar{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
align-items: center;
padding-left: 50px;
padding-right: 50px;
list-style: none;
}
.navlink{
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 38px;
}

main{
	display: :flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.p{
	float: left;
}
.div1{
	height: 40px;
}
.div2{
	height: 80px;
}
.div3{
	height: 80px;
}
.div4{
	margin-top: 200px;
	height: 120px;
	float: left;
	margin-left: -350px;
}
.div5{
	margin-top: 400px;
	height: 120px;
	float: left;
}
